/* 
.nav-container {
    display: inline;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 0px;
    color: #FFFFFF !important;
    font-family: 'Verdana', sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 30px;
    letter-spacing: 1px;
    padding: 10px; } */

/* .header-task2 h1 nav{
    color: #FFF !important;
    padding-left: 20px;
    font-family: verdana;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.5px;
} */

.nav-container nav  {
  color: #FFF ;
  text-decoration: none;
  padding-left: 300px;

  display: flex;
  align-items: center;
  gap: 70px;
  list-style: none;
  line-height: 0px;
  font-family: verdana;
  font-weight: 700;
}

a.nav-container:link{
  color: #FFF;
   text-decoration: none;
}

a.nav-container:visited{
  color: #fff;
   text-decoration: none;
}

a.nav-container:hover
{
   color: #FF814C;
   text-decoration: none;
}

a.nav-container:active
{
   color: #8d63ff;
   text-decoration: none;
}


.q-container {
    position: relative;
    width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: linear-gradient(-60deg, #0b080df7, #5e3fb4), #FF814C;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: verdana;
    font-weight: 700;
    font-size: 28px;
    line-height: 20px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}


.main-container h2 {
    position: absolute;
    width: 1140px;
    height: 72px;
    left: 300px;
    top: 50px;
  

    font-family: verdana;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 72px;
  
    background: linear-gradient(116.46deg, #7E51FF .64%, #FF814C 50.83%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  
  .answers-container h3, .form-container  h3 {
    display: flex;
    align-items: center;
    font-family: verdana;
    font-style: normal;
    font-weight: 700;
    padding-top: 200px;
    margin-left: 300px;
    margin-bottom: 20px;
    font-size: 48px;
    line-height: 39px;

    letter-spacing: 1px;
    color: #FFFFFF;
    
  }
  


body {
    position: relative;
    width: 1440px;
    height: 2106px;
    background: #050505f7;
  }


.a, .b, .audio, h6{
    width: 800px;
    margin: 0 auto;
    padding: 20px;
    
    background: linear-gradient(-60deg, #0b080df7, #5e3fb4), #FF814C;
    border-radius: 20px;
    color: #eaf1ec;
    font-family: verdana;
    font-weight: 700;
    font-size: 28px;
    line-height: 20px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

/* .a{
  background: linear-gradient(116.46deg, #7E51FF .64%, #FF814C 50.83%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
} */

.d{
  padding-top: 8px;
  font-style: italic;
  color: #fff;
  font-size: 15px;
  font-family: sans-serif;
  width: 800px;
}

.e{
  color: #ffffffae;
  align-items: center;
  font-size: 15px;
  font-family: verdana;
  width: 800px;
  padding-top: 20px;
  
}




.q1-container,
.q2-container,
.q3-container{
  position: relative;
  width: 800px; 
  margin: 0 auto;
  padding: 20px; 

  border-radius: 20px;
  color: #FFFFFF;
  font-family: Verdana, Verdana;
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 1px;
  margin-bottom: 20px; 
}





fieldset {
  border: none;
}


legend {
  font-weight: 700;
  font-size: 24px; 
  margin-bottom: 10px; 
}


p {
  position: relative;
  width: 800px; 
  margin: 0 auto; 
  padding: 20px; 

  border-radius: 20px;
  color: #ffffffb0;
  font-family: Verdana, Verdana;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: 1px;
  margin-bottom: 20px; 
}


input[type="radio"],
input[type="checkbox"]{
  font-family: verdana;
  margin-right: 10px; 
  
}


label {
  font-weight: 400;
  font-size: 14px;
  line-height: 32px; 
  letter-spacing: 0.014em;
  font-family: verdana;
  color: #FFFFFF;
}




  

table {
    
  width: 800px; 
  margin: 0 auto; 
  padding: 10px; 
  
  border-radius: 20px;
  color: #FFFFFF;
  font-family: 'Sora', sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 1px;
  margin-bottom: 20px;

  background: linear-gradient(-60deg, #0b080df7 , #5e3fb4 );
    border-radius: 12px;
    
    
}


th {
  color: #FFFFFF;
  font-family: Verdana;
  border-radius: 12px;
  font-weight: 700;
  font-size: 18px; 
  line-height: 32px; 
  padding: 10px; 
}


td {
  font-weight: 400;
  color: #FFFFFF;
  font-family: Verdana;
  
  font-size: 12px; 
  line-height: 24px; 
  padding: 10px; 
}



.submit-container {
    cursor: pointer;
    width: 450px;
    height: 70px;
    padding: 20px;
    margin-left: 490px;
    
    font-family: 'verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 1px;
    
  
    letter-spacing: 4px;
    color: #FFFFFF;
      background: linear-gradient(-60deg, #0b080df7 30%, #fff 333.08%);
    border-radius: 60px;
    border: none;
}

.submit-container:hover {
      background: linear-gradient(-60deg, #0b080df7 23.7%, #7E51FF 105.08%); 
}





